<!-- newsletter area Start -->
<section aria-label="Newsletter subscription">
    <div class="newsletter-area">
        <div class="container">
            <div class="newsletter-area-wrap border-tp-solid">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-5 offset-xl-2">
                        <div class="section-title mb-md-0">
                            <h2 class="title">Newsletter</h2>
                            <p>Sign up to receive the best offers</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 align-self-center offset-xl-1">
                        <div class="input-group newsletter-wrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <button class="btn btn-yellow" type="button">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- newsletter area End -->

<!-- footer area start -->
<footer class="footer-area" style="background-image: url(assets/img/bg/2.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget widget">
                    <div class="about_us_widget">
                        <a href="/" class="footer-logo">
                            <img src="assets/img/logo.png" alt="footer logo">
                        </a>
                        <p>If you would like to visit us at our offices please request an appointment and we'd be
                            happy to greet you.
                            Likewise, we are always on hand to visit our members where and when is convenient to
                            them. </p>
                        <ul class="social-icon">
                            <li>
                                <a class="facebook" href="https://www.facebook.com" target="_blank"
                                    aria-label="Visit our Facebook page"><i class="fa fa-facebook  "></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="https://x.com/" target="_blank"
                                    aria-label="Visit our Twitter page"><i class="fa fa-twitter  "></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="https://www.instagram.com/" target="_blank"
                                    aria-label="Visit our Instagram page"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget widget">
                    <div class="widget-contact">
                        <h4 class="widget-title">Contact us</h4>
                        <p>
                            <i class="fa fa-map-marker"></i>
                            <span>1385 Woodroffe Ave, Ottawa, ON K2G 1V8</span>
                        </p>
                        <p class="location">
                            <i class="fa fa-envelope-o"></i>
                            <span>info@trvly.com</span>
                        </p>
                        <p class="telephone">
                            <i class="fa fa-phone base-color"></i>
                            <span>
                                +1 613-123-4567
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-widget widget">
                    <h4 class="widget-title">Quick Link</h4>
                    <ul class="widget_nav_menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="destination-list.html">Destination</a></li>
                        <li><a href="tour-list.html">Tours</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget widget">
                    <h4 class="widget-title">Instagram Gallery</h4>
                    <ul class="widget-instagram-feed">
                        <li><a href="javascript:void(0)"><img src="assets/img/instagram/1.png" alt="img"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/img/instagram/2.png" alt="img"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/img/instagram/3.png" alt="img"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/img/instagram/4.png" alt="img"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/img/instagram/5.png" alt="img"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/img/instagram/6.png" alt="img"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-inner">
        <div class="copyright-text">
            &copy; Trvly 2025 All rights reserved. </a>
        </div>
    </div>
</footer>
<!-- footer area end -->