<!-- navbar area start -->
<nav class="navbar navbar-area navbar-expand-lg nav-style-01">
    <div class="container nav-container">
        <div class="responsive-mobile-menu">
            <div class="mobile-logo">
                <a href="/">
                    <img src="assets/img/sticky-logo.png" alt="logo">
                </a>
            </div>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#tp_main_menu"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
            <div class="nav-right-content">
                <ul class="pl-0">
                    <li class="top-bar-btn-booking">
                        <a class="btn btn-yellow" href="tour-details.html">Book Now <i
                                class="fa fa-paper-plane"></i></a>
                    </li>
                    <li class="tp-lang">
                        <div class="tp-lang-wrap">
                            <select class="select single-select">
                                <option value="1">English</option>
                                <option value="2">French</option>
                                <option value="3">Chinese</option>
                                <option value="4">Spanish</option>
                            </select>
                        </div>
                    </li>
                    <li class="search">
                        <i class="ti-search"></i>
                    </li>
                    <li class="notification">
                        <a class="signUp-btn" href="user-profile.html" aria-label="Go to user profile">
                            <i class="fa fa-user-o"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="tp_main_menu">
            <div class="logo-wrapper desktop-logo">
                <a href="/" class="main-logo">
                    <img src="assets/img/logo.png" alt="logo">
                </a>
                <a href="/" class="sticky-logo">
                    <img src="assets/img/sticky-logo.png" alt="sticky logo">
                </a>
            </div>
            <ul class="navbar-nav">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="javascript:void(0)">Destination</a>
                    <ul class="sub-menu">
                        <li><a href="destination-list.html">Destination List</a></li>
                        <li><a href="destination-details.html">Destination Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="javascript:void(0)">Tour Plans</a>
                    <ul class="sub-menu">
                        <li><a href="tour-list.html">Tours List</a></li>
                        <li><a href="tour-details.html">Tours Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="javascript:void(0)">Blogs</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog List</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="javascript:void(0)">About</a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav-right-content">
            <ul>
                <li>
                    <a class="btn btn-yellow" href="tour-details.html">Book Now <i class="fa fa-paper-plane"></i></a>
                </li>
                <li class="tp-lang">
                    <div class="tp-lang-wrap">
                        <select class="select single-select">
                            <option value="1">English</option>
                            <option value="2">French</option>
                            <option value="3">Chinese</option>
                            <option value="4">Spanish</option>
                        </select>
                    </div>
                </li>
                <li class="search">
                    <i class="ti-search"></i>
                </li>
                <li class="notification">
                    <a class="signUp-btn" href="user-profile.html" aria-label="Go to user profile">
                        <i class="fa fa-user-o"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- navbar area end -->