<!-- sign up Popup -->
<div class="signUp-popup login-register-popup" id="signUp-popup">
    <div class="login-register-popup-wrap">
        <div class="close-btn">
            <i class="fa fa-times"></i>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="thumb">
                    <img src="assets/img/others/signup.png" alt="img">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="shape-thumb">
                    <img src="assets/img/others/signup-shape.png" alt="img">
                </div>
                <form class="login-form-wrap">
                    <h4 class="text-center">Sign Up</h4>
                    <div class="single-input-wrap style-two">
                        <input type="text" placeholder="Name">
                        <span class="single-input-title"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="single-input-wrap style-two">
                        <input type="text" placeholder="Email">
                        <span class="single-input-title"><i class="fa fa-envelope"></i></span>
                    </div>
                    <div class="single-input-wrap style-two">
                        <input type="text" placeholder="Password">
                        <span class="single-input-title"><i class="fa fa-lock"></i></span>
                    </div>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span>Remember me</span>
                    </label>
                    <div class="single-input-wrap style-two">
                        <a class="btn btn-yellow w-100" href="user-profile.html">Sign Up</a>
                    </div>
                    <div class="sign-in-btn">I already have an account. <a href="user-profile.html">Sign In</a>
                    </div>
                    <div class="social-wrap">
                        <p>Or Continue With</p>
                        <ul class="social-icon">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/codingeek.net/" target="_blank"
                                    aria-label="Visit our Facebook page"><i class="fa fa-facebook  "></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="https://twitter.com/codingeeknet" target="_blank"
                                    aria-label="Visit our Twitter page"><i class="fa fa-twitter  "></i></a>
                            </li>
                            <li>
                                <a class="pinterest" href="https://www.instagram.com/codingeeknet/" target="_blank"
                                    aria-label="Visit our Instagram page"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- sign up Popup End -->